.filter-title {
    font-weight: 700;
    padding-bottom: 12px;
}

.category-label {
    padding-left: 8px;
    text-transform: capitalize;
}

.filter-buttons label input[type=checkbox],
.filter-buttons label input[type=radio] {
    padding: 0.3em;
    -webkit-appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
    margin-left: 2px;
}
  
.filter-buttons  label input[type=checkbox]:checked,
.filter-buttons  label input[type=radio]:checked {
    display: inline-block;
    background-color: #000;
}

.filter-modal {
    height: 95%;
    top: unset !important;
    bottom: 0 !important;
}